* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url(assets/bg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#login-logo {
  width: 80vw;
  max-width: 400px;
  display: block;
}

.centered {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.align-center {
  text-align: center;
}

.float-right-margin {
  margin: 2vh;
  float: right;
}

.confirm-share {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 1rem;
  font-size: 0.92rem;
}

.share-confirmation {
  color: green;
  margin-top: 0.92rem;
  text-shadow: 1px 1px 12px whitesmoke;
}
